---
import Layout from "../layouts/Layout.astro";
import ContentWidth from "../components/ContentWidth.astro";
import Testimonies from "../components/Testimonies.astro";
---

<Layout title="BG Servicios">
  <ContentWidth>
    <h1>BG Servicios</h1>
  </ContentWidth>
  <Testimonies/>
</Layout>
