---

---

<section>
  <div class="text-center font-museoModerno font-bold mb-4 md:mb-8">
    <span class="text-sm md:text-base uppercase text-secondary"
      >Sobre nosotros</span
    >
    <h2 class="text-3xl md:text-5xl">Conócenos</h2>
  </div>
</section>
