---

---

<form
  class="w-full lg:flex-1 flex flex-col gap-4 max-w-[40rem] bg-background p-4 rounded-lg"
>
  <input
    type="text"
    placeholder="Nombres y apellidos"
    class="border border-muted rounded-lg p-2"
  />
  <input
    type="email"
    placeholder="Email"
    class="border border-muted rounded-lg p-2"
  />
  <input
    type="number"
    placeholder="Teléfono"
    class="border border-muted rounded-lg p-2"
  />
  <textarea
    name="textarea"
    rows="10"
    placeholder="Mensaje"
    class="border border-muted rounded-lg p-2"></textarea>
  <button class="bg-primary-500 rounded-lg p-2">Enviar</button>
</form>
