---

---

<div class="w-full lg:flex-1 bg-background p-4 md:p-8 lg:p-10 rounded-lg">
  <h2 class="text-2xl text-center font-semibold font-museoModerno mb-4">
    Contáctanos
  </h2>
  <form class="flex flex-col gap-4">
    <input type="text" placeholder="Nombres y apellidos" class="input" />
    <input type="email" placeholder="Email" class="input" />
    <input type="number" placeholder="Teléfono" class="input" />
    <textarea name="textarea" rows="8" placeholder="Mensaje" class="textarea"
    ></textarea>
    <button class="h-15 bg-primary-600 rounded-lg p-2 text-white font-semibold"
      >Enviar</button
    >
  </form>
</div>
