---
import ContentWidth from "./ContentWidth.astro";
import ServiceCard from "./ServiceCard.astro";

import services from "../data-list/services.json";
---

<section id="services" class="py-20">
  <ContentWidth>
    <div class="text-center font-museoModerno font-bold mb-4 md:mb-8">
      <span class="text-sm md:text-base uppercase text-secondary"
        >¿Qué ofrecemos?</span
      >
      <h2 class="text-3xl md:text-5xl">Nuestros servicios</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        services.map(({ title, description, image, icon }) => (
          <ServiceCard
            title={title}
            description={description}
            image={image}
            icon={icon}
          />
        ))
      }
    </div>
  </ContentWidth>
</section>
