---
import TestimonyCard from "./TestimonyCard.astro";
import ContentWidth from "./ContentWidth.astro";

import testimonies from "../data-list/testimonies.json";
---

<section>
  <ContentWidth>
    <div class="text-center font-museoModerno font-bold mb-4 md:mb-8">
      <span class="text-sm md:text-base uppercase text-secondary"
        >Testimonios</span
      >
      <h2 class="text-3xl md:text-5xl lg:text-6xl">
        Reseñas honestas de nuestros clientes
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {
        testimonies.map(({ name, comment, icon }) => (
          <TestimonyCard name={name} comment={comment} icon={icon} />
        ))
      }
    </div>
  </ContentWidth>
</section>

>

